/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar-brand a {
  text-decoration: none;
  color: inherit;
}

.navbar-links {
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-links.open {
  transform: translateX(0);
}

.navbar-links a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Off-canvas styles for small screens */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    transform: translateX(-100%);
    z-index: 10;
    box-shadow: 0px 10px 10px -15px #111;
  }

  .navbar-links a {
    margin: 0.5rem 0;
    width: 100%;
  }

  .logout-button {
    align-self: flex-start;
    margin-top: 10px;
  }

  .navbar-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-links {
    transform: translateX(0);
    flex-direction: row;
    position: static;
    width: auto;
  }
}
